<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Students / Students Information</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../admin/assets/img/logo.png" rel="icon">
  <link href="../../admin/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../admin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../admin/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../admin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../admin/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="../../admin/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="../../admin/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../../admin/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="../../admin/assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/admin/<%= school_obj.name %>/dashboard" class="logo d-flex align-items-center">
        <img src="../../admin/assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">Orbital Admin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="d-flex align-items-center justify-content-between tex">
      <span class="d-none d-lg-block">
        <div class="pad">Manage the contents of your school Website and Database</div>
      </span>
    </div>



    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="<%= school_obj.logo %>" alt="Profile">
            <span class="d-none d-md-block dropdown-toggle ps-2">
              <%= school_obj.name %>
            </span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>
                <%= school_obj.name %>
              </h6>
              <span>Admin Account</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/admin">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/<%=school_obj.name%>/dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-cloud"></i><span>Website</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="school-info">
              <i class="bi bi-circle"></i><span>School Information</span>
            </a>
          </li>
          <li>
            <a href="upcoming-news">
              <i class="bi bi-circle"></i><span>Upcoming news and Events</span>
            </a>
          </li>
          <li>
            <a href="fees-info">
              <i class="bi bi-circle"></i><span>Fees Payment Details</span>
            </a>
          </li>
        </ul>
      </li><!-- End Website Nav -->

      <li class="nav-item">
        <a class="nav-link " data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people"></i><span>Students</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
          <li>
            <a href="student-info" class="active">
              <i class="bi bi-circle"></i><span>Students Information</span>
            </a>
          </li>
          <li>
            <a href="student-fees">
              <i class="bi bi-circle"></i><span>Students Fees Status</span>
            </a>
          </li>
          <a href="student-register">
            <i class="bi bi-circle"></i><span>E-Register</span>
          </a>
      </li>
    </ul>
    </li><!-- End Students Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Results</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="continous-assessments">
            <i class="bi bi-circle"></i><span>Continous Assessment</span>
          </a>
        </li>
        <li>
          <a href="sheet-configs">
            <i class="bi bi-circle"></i><span>Results Sheet Configs</span>
          </a>
        </li>
        <li>
          <a href="student-results">
            <i class="bi bi-circle"></i><span>Students Results</span>
          </a>
        </li>
      </ul>
    </li><!-- End Results Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-person-check"></i><span>Parents</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="parents">
            <i class="bi bi-circle"></i><span>Feedbacks</span>
          </a>
        </li>
      </ul>
    </li><!-- End Parents Nav -->

    <li class="nav-heading">References</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="sessions">
        <i class="bi bi-collection"></i>
        <span>Sessions</span>
      </a>
    </li><!-- End Sessions Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="classes">
        <i class="bi bi-menu-button-wide"></i>
        <span>Classes</span>
      </a>
    </li><!-- End Classes Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="subjects">
        <i class="bi bi-book"></i>
        <span>Subjects</span>
      </a>
    </li><!-- End Subjects Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Students Information</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Students</li>
          <li class="breadcrumb-item active">Students Information</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">


      <div class="col-md-12 offset-md-0">

        <!-- REFERENCE SELECTOR -->
        <div class="card">
          <div class="internal">
            <div class="rrr">
              <div class="row md-3">
                <label class="col-sm-5 col-form-label">Session</label>
                <div class="col-sm-8">
                  <select class="form-select" aria-label="Session" id="sessionSelector" onchange="sendData()">
                    <% for(var i=0; i < sessions_data.length; i++){ %>
                      <option value="<%= sessions_data[i].name %>">
                        <%= sessions_data[i].name %>
                      </option>
                      <% } %>
                  </select>
                </div>
              </div>

              <div class="row md-1">
                <label class="col-sm-5 col-form-label">Term</label>
                <div class="col-sm-8">
                  <select class="form-select" aria-label="Term" id="termSelector" onchange="sendData()">
                    <option value="first" selected>First</option>
                    <option value="second">Second</option>
                    <option value="third">Third</option>
                  </select>
                </div>
              </div>

              <div class="row md-1">
                <label class="col-sm-5 col-form-label">Class</label>
                <div class="col-sm-8">
                  <select class="form-select" aria-label="Class" id="classSelector" onchange="sendData()">
                    <% for(var i=0; i < class_data.length; i++){ %>
                      <option value="<%= class_data[i].name %>">
                        <%= class_data[i].name %>
                      </option>
                      <% } %>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Students</h5>

            <!-- Table with hoverable rows -->
            <table class="table table-hover" id="myTable">
              <thead>
                <tr>
                  <th scope="col">S/N</th>
                  <th scope="col">Name</th>
                  <th scope="col">Gender</th>
                  <th scope="col">DOB</th>
                  <th scope="col">Class</th>
                </tr>
              </thead>
              <tbody>
                <%counter=1;%>
                  <% for(var j=0; j < sessions_data[0].terms[0].students.length; j++){ %>
                    <% if(sessions_data[0].terms[0].students[j].class===class_data[0].name) { %>
                      <tr>
                        <th scope="row">
                          <%=counter %>
                        </th>
                        <td>
                          <%= sessions_data[0].terms[0].students[j].name %>
                        </td>
                        <td>
                          <%= sessions_data[0].terms[0].students[j].gender %>
                        </td>
                        <td>
                          <%= sessions_data[0].terms[0].students[j].dob %>
                        </td>
                        <td>
                          <%= sessions_data[0].terms[0].students[j].class %>
                        </td>
                      </tr>
                      <%counter++;%>
                        <% } %>
                          <% } %>
              </tbody>
            </table>
            <!-- End Table with hoverable rows -->
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary" onclick="openForm()">Add Student</button>
        </div>
      </div>
      </div>
    </section>


    <div class="">

    </div>



    <!-- Add Student Form -->
    <div class="add" id="add">
      <div class="col-md-6 offset-md-3">
        <div class="card mb-3">
          <div class="card-body">
            <div class="pt-4 pb-2">
              <h5 class="card-title text-center pb-0 fs-4">Add Student</h5>
              <p class="text-center small">Add a student to the database</p>
            </div>
            <form class="row g-3 needs-validation" method="post" action="/admin/<%= school_obj.name %>/students"
              novalidate>
              <div class="col-12">
                <label for="yourName" class="form-label">Student Name</label>
                <input type="text" name="name" class="form-control" id="yourName" required>
                <div class="invalid-feedback">Please, enter student name!</div>
              </div>
              <div class="row md-1">
                <label class="col-sm-5 col-form-label">Gender</label>
                <div class="col-sm-8">
                  <select class="form-select" aria-label="Term" name="gender">
                    <option value="male" selected>Male</option>
                    <option value="female">Female</option>
                  </select>
                </div>
              </div>



              <div class="col-12">
                <label for="yourEmail" class="form-label">Date of birth</label>
                <input type="date" name="dob" class="form-control" id="dob" required>
                <div class="invalid-feedback">Please enter date of birth!</div>
              </div>

              <div class="row md-3">
                <label class="col-sm-5 col-form-label">Session</label>
                <div class="col-sm-8">
                  <select class="form-select" aria-label="Session" name="session">
                    <% for(var i=0; i < sessions_data.length; i++){ %>
                      <option>
                        <%= sessions_data[i].name %>
                      </option>
                      <% } %>
                  </select>
                </div>
              </div>

              <div class="row md-1">
                <label class="col-sm-5 col-form-label">Term</label>
                <div class="col-sm-8">
                  <select class="form-select" aria-label="Term" name="term">
                    <option value="first" selected>First</option>
                    <option value="second">Second</option>
                    <option value="third">Third</option>
                  </select>
                </div>
              </div>

              <div class="row md-1">
                <label class="col-sm-5 col-form-label">Class</label>
                <div class="col-sm-8">
                  <select class="form-select" aria-label="Class" name="class">
                    <% for(var i=0; i < class_data.length; i++){ %>
                      <option>
                        <%= class_data[i].name %>
                      </option>
                      <% } %>
                  </select>
                </div>
              </div>

              <div class="col-12">
                <button class="btn btn-primary w-100" type="submit">Add Student</button>
              </div>
            </form>
            <label class="form-check-label" for="acceptTerms"><a href="#" onclick="closeForm()">Close
                form</a></label>
          </div>
        </div>
      </div>
    </div>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Powered by <strong><span>Orbital Node 2022</span></strong>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>


  <!-- Vendor JS Files -->
  <script src="../../admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../admin/assets/vendor/quill/quill.min.js"></script>
  <script src="../../admin/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="../../admin/assets/vendor/tinymce/tinymce.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../../admin/assets/js/main.js"></script>

  <!-- Jquery -->
  <script src="../../admin/assets/js/jquery-3.6.1.js"></script>
  <script>
    function sendData() {

      fetch('/admin/<%= school_obj.name %>/getStudents', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
          session: $("#sessionSelector").val(),
          class: $("#classSelector").val(),
          term: $("#termSelector").val(),
        })
      }).then(res => res.json()).then(data => {
        var payload = data.payload;
        var content = '';
        if (payload < 1) {
          $('#myTable tbody').html('Students not added yet');
          return;
        }

        payload.forEach((item, index) => {
          content += `
                  <tr>
                    <th scope="row">${index + 1}</th>
                    <td>
                      ${item.name}
                      </td>
                    <td>
                      ${item.gender}
                    </td>
                    <td>
                      ${item.dob}
                    </td>
                    <td>
                      ${item.class}
                    </td>
                  </tr>`
        });
        $('#myTable tbody').html(content);
      });
      return;
    }
  </script>

</body>

</html>