<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Subjects / References</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../admin/assets/img/logo.png" rel="icon">
  <link href="../../admin/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../admin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../admin/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../admin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../admin/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="../../admin/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="../../admin/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../../admin/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../admin/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/admin/<%= school_obj.name %>/dashboard" class="logo d-flex align-items-center">
        <img src="../../admin/assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">Orbital Admin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <!--  <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> -->
    <!-- End Search Bar -->
    <div class="d-flex align-items-center justify-content-between tex">
      <span class="d-none d-lg-block">
        <div class="pad">Manage the contents of your school Website and Database</div>
      </span>
    </div>



    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <!--  <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li> -->
        <!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">1</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 1 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">Close</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Subscription</h4>
                <p>You subscribtion will finish on the 20th of October 2022</p>
                <p>30 min. ago</p>
              </div>
            </li>
          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="<%= school_obj.logo %>" alt="Profile">
            <span class="d-none d-md-block dropdown-toggle ps-2">
              <%= school_obj.name %>
            </span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>
                <%= school_obj.name %>
              </h6>
              <span>Admin Account</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <!--        <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li> -->
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/admin">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/<%=school_obj.name%>/dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-cloud"></i><span>Website</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="school-info">
              <i class="bi bi-circle"></i><span>School Information</span>
            </a>
          </li>
          <li>
            <a href="upcoming-news">
              <i class="bi bi-circle"></i><span>Upcoming news and Events</span>
            </a>
          </li>
          <li>
            <a href="fees-info">
              <i class="bi bi-circle"></i><span>Fees Payment Details</span>
            </a>
          </li>
        </ul>
      </li><!-- End Website Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people"></i><span>Students</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="student-info">
              <i class="bi bi-circle"></i><span>Students Information</span>
            </a>
          </li>
          <li>
            <a href="student-fees">
              <i class="bi bi-circle"></i><span>Students Fees Status</span>
            </a>
          </li>
          <a href="student-register">
            <i class="bi bi-circle"></i><span>E-Register</span>
          </a>
      </li>
    </ul>
    </li><!-- End Students Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Results</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="subject-results">
            <i class="bi bi-circle"></i><span>Subject Based Results</span>
          </a>
        </li>
        <li>
          <a href="student-results">
            <i class="bi bi-circle"></i><span>Students Results</span>
          </a>
        </li>
      </ul>
    </li><!-- End Results Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-person-check"></i><span>Parents</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="parents">
            <i class="bi bi-circle"></i><span>Feedbacks</span>
          </a>
        </li>
      </ul>
    </li><!-- End Parents Nav -->

    <li class="nav-heading">References</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="sessions">
        <i class="bi bi-collection"></i>
        <span>Sessions</span>
      </a>
    </li><!-- End Sessions Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="classes">
        <i class="bi bi-menu-button-wide"></i>
        <span>Classes</span>
      </a>
    </li><!-- End Classes Page Nav -->

    <li class="nav-item">
      <a class="nav-link " href="subjects">
        <i class="bi bi-book"></i>
        <span>Subjects</span>
      </a>
    </li><!-- End Subjects Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Subjects</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">References</li>
          <li class="breadcrumb-item active">Subjects</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <!-- REFERENCE SELECTOR -->
    <div class="card">
      <div class="internal">
        <div class="rrr">
          <div class="row md-3">
            <label class="col-sm-5 col-form-label">Class</label>
            <div class="col-sm-12">
              <select class="form-select" aria-label="Session" onchange="sendData(this)" id="selected-class">
                <% for(var i=0; i < class_data.length; i++){ %>
                  <option>
                    <%= class_data[i].name %>
                  </option>
                  <% } %>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="section">
      <div class="columns" id="subject-field">
        <% for(var j=0; j < class_data[0].subjects.length; j++){ %>
          <div class="col-md-10 offset-md-1">
            <div class="card">
              <h5 class="session">
                <%= class_data[0].subjects[j].name %>
              </h5>
            </div>
          </div>
          <% } %>
      </div>
      <div class="text-center">
        <button class="btn btn-primary" onclick="openForm()">Add Subject</button>
      </div>
    </section>



    <!-- Add Subject Form -->
    <div class="add" id="add">
      <div class="col-md-6 offset-md-3">
        <div class="card mb-3">
          <div class="card-body">
            <div class="pt-4 pb-2">
              <h5 class="card-title text-center pb-0 fs-4">Add Subjects</h5>
              <!-- <p class="text-center small">Add Session</p> -->
            </div>
            <form class="row g-3 needs-validation" method="post" action="/admin/<%= school_obj.name %>/subjects"
              novalidate>
              <div class="col-12">
                <label for="yourName" class="form-label">Subject Name</label>
                <input type="text" name="name" class="form-control" id="name" required>
                <div class="invalid-feedback">Please, enter the subject name!</div>
              </div>

              <div class="row g-3">
                <label for="category" class="col-sm-2 col-form-label">Class</label>
                <div class="col-sm-10">
                  <select id="class_name" name="class_name" class="form-control">
                    <option disabled selected value>Select your class</option>
                    <!-- <% function convert(str) { return str.replace(/\s+/g, '-' ).toLowerCase(); } %> -->
                    <% for(var i=0; i < class_data.length; i++){ %>
                      <option>
                        <%= class_data[i].name %>
                      </option>
                      <% } %>
                  </select>
                </div>
              </div>

              <div class="col-12">
                <label for="yourName" class="form-label">Teacher's Name</label>
                <input type="text" name="teacher" class="form-control" id="teacher" required>
                <div class="invalid-feedback">Please, enter the teacher's name!</div>
              </div>

              <div class="col-12">
                <button class="btn btn-primary w-100" type="submit" onclick="closeForm()">Add Subject</button>
              </div>
            </form>
            <label class="form-check-label" for="acceptTerms"><a href="#" onclick="closeForm()">Close
                form</a></label>
          </div>
        </div>
      </div>
    </div>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Powered by <strong><span>Orbital Node 2022</span></strong>
    </div>
  </footer><!-- End Footer -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../admin/assets/vendor/quill/quill.min.js"></script>
  <script src="../../admin/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="../../admin/assets/vendor/tinymce/tinymce.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../../admin/assets/js/main.js"></script>
  <script>
    function sendData(e) {
      const field = document.getElementById('subject-field');

      fetch('/admin/<%= school_obj.name %>/getSubjects', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ payload: e.value })
      }).then(res => res.json()).then(data => {
        var payload = data.payload;
        field.innerHTML = '';
        if (payload < 1) {
          field.innerHTML = '<p> Subjects not added yet</p>';
          return;
        }
        payload.forEach((item, index) => {

          if (item.name === e.value) {
            item.subjects.forEach((item, i) => {
              field.innerHTML += `<div class="col-md-10 offset-md-1">
          <div class="card">
            <h5 class="session">
              ${item.name}
            </h5>
          </div>
        </div>`
            })
          }
        });
      });
      return;

      field.innerHTML = '';
    }
  </script>

</body>

</html>